#suggestions {
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    height: auto;
    position: absolute;
    top: 45px;
    z-index: 9999;
    width: 400px;
}

#suggestions .suggest-element {
    background-color: #EEEEEE;
    border-top: 1px solid #d6d4d4;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    float: left;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}


/* Colapse nav items two*/

.nav-item .collapse .collapse-inner {
    border-radius: 0.35rem;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  }
  
  .nav-item .collapsing {
    display: none;
    transition: none;
  }
  
  .nav-item .collapse .collapse-inner,
  .nav-item .collapsing .collapse-inner {
    padding: .5rem 0;
    min-width: 10rem;


    font-size: 0.85rem;
    margin: 0 0 1rem 0;
  }
  
  .nav-item .collapse .collapse-inner .collapse-header,
  .nav-item .collapsing .collapse-inner .collapse-header {
    margin: 0;
    white-space: nowrap;
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.65rem;
    color: #b7b9cc;
  }
  
  .nav-item .collapse .collapse-inner .collapse-item,
  .nav-item .collapsing .collapse-inner .collapse-item {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    display: block;
    color: #3a3b45;
    text-decoration: none;
    border-radius: 0.35rem;
    white-space: nowrap;
  }
  
   .nav-item .collapse .collapse-inner .collapse-item:hover,
  .nav-item .collapsing .collapse-inner .collapse-item:hover {
    background-color: #eaecf4;
  }
  
  .nav-item .collapse .collapse-inner .collapse-item:active,
   .nav-item .collapsing .collapse-inner .collapse-item:active {
    background-color: #dddfeb;
  }
  
  .nav-item .collapse .collapse-inner .collapse-item.active,
  .nav-item .collapsing .collapse-inner .collapse-item.active {
    color: #4e73df;
    font-weight: 700;
  }

  @media (min-width: 768px) {

    .nav-item .collapse {
      position: relative;
      left: 0;
      z-index: 1;
      top: 0;
      -webkit-animation: none;
      animation: none;
    }
    .nav-item .collapse .collapse-inner {
      border-radius: 0;
      box-shadow: none;
    }

    .nav-item .collapse .collapse-inner {
        box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
        border-radius: 0.35rem;
      }
}

